/* Roboto para el body */
body .roboto {
  font-family: 'Roboto', sans-serif;
}

/* Orbitron para la navbar */
.navbar * {
  font-family: 'Orbitron', sans-serif !important;
}

/* Orbitron para el footer */
.orbitron {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

