/* Roboto para el body */
body .roboto {
  font-family: 'Roboto', sans-serif;
}

/* Orbitron para la navbar */
.navbar * {
  font-family: 'Orbitron', sans-serif !important;
}

/* Orbitron para el footer */
.orbitron {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

/*Para cargar los colores de fondo que meti en bootstrap.css*/
.bg-azul-electrico {
  background-color: #1E90FF !important;
}

.text-azul-electrico {
  color: #1E90FF !important;
}

.bg-verde-neon {
  background-color: #39FF14 !important;
}

.text-verde-neon {
  color: #39FF14 !important;
}

/*Para botones*/
.btn-azul-electrico {
  background-color: #1E90FF !important;
  border-color: #1E90FF !important;
  color: #fff !important;
}

.btn-azul-electrico:hover {
  background-color: #1E90FF !important;
  border-color: #1E90FF !important;
}
.btn-verde-neon {
  background-color: #39FF14 !important;
  border-color: #39FF14 !important;
  color: #fff !important;
}

.btn-verde-neon:hover {
  background-color: #39FF14 !important;
  border-color: #39FF14 !important;
}

/*Para que el footer se pegue al fondo de la pag*/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Abrir dropdown al pasar el mouse */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Opcional para que no se desplace */
}

.link-completo {
  display: block;      /* Que ocupe todo el ancho del contenedor */
  text-decoration: none; /* Evita subrayado en los textos */
  color: inherit;        /* Mantiene el color del texto original */
}
.link-completo img {
  pointer-events: none; /* Evita que la imagen bloquee el clic */
}

