.card {
  height: 100%;
}

.card .card-img-top {
  max-width: 100%;
  width: fit-content;
}

.row.align-items-stretch {
  display: flex;
  flex-wrap: wrap;
}

.card-img-top {
  width: 250px;
  height: 250px;   /* mismo alto para todas */
  object-fit: cover;
}

